# dependencies
/node_modules

# next
/.next/
/out/

# serwist (gerado no build via withSerwist)
public/sw.js
public/sw.js.map
public/swe-worker-*.js

# env
.env
.env*.local

# misc
node_modules/.cache
*.tsbuildinfo
next-env.d.ts

# superpowers scratch
.superpowers/
